<app-menu></app-menu>

<div>
    <table>
        <tr>
            <td>First Name:</td>
                <td>
                    <input [(ngModel)]="user.firstName" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Last Name:</td>
                <td>
                    <input [(ngModel)]="user.lastName" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Phone Number:</td>
                <td>
                    <input [(ngModel)]="user.phone" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Email:</td>
                <td>
                    <input [(ngModel)]="user.email" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Username:</td>
                <td>
                    <input [(ngModel)]="user.username" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Password:</td>
                <td>
                    <input [(ngModel)]="user.password" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Reviewer Status:</td>
                <td>
                    <input [(ngModel)]="user.reviewer" type="text" disabled> 

                </td>
        </tr>
        <tr>
            <td>Admin Status:</td>
                <td>
                    <input [(ngModel)]="user.admin" type="text" disabled> 

                </td>
        </tr>
        <tr>
            <td> 
                <a routerLink="/user/edit/{{ user.id }}">
                    <img class="icon"  src="../../assets/icons/edit.png"></a>
            </td>
        </tr>
        <tr>
            <td> 
                <img class="icon"  src="../../assets/icons/delete.png">
            </td>
        </tr>
    </table>
</div>