<app-menu></app-menu>

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Review Request</h3>
      <br> 
      <fieldset>
        <input list="delivery">
        <datalist id="delivery">
            <option value="Pickup"></option>
            <option value="Robo Courier"></option>
            <option value="Express Drone"></option>
            <option value="Horseback"></option>
        </datalist>
      </fieldset>
      <fieldset>
        <input placeholder="status" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Reason for rejection" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="approve" id="contact-submit" data-submit="...Sending">Approve</button>
      </fieldset>
      <fieldset>
        <button name="submit" type="reject" id="contact-submit" data-submit="...Sending">Reject</button>
      </fieldset>
    </form>
    <h2>Request Line Items</h2>
  </div>

  <table class="styled-table">
    <thead>
        <tr>
            <th>Part Number:</th>
            <th>Product Description:</th>
            <th>Vendor:</th>
            <th>Price:</th>
            <th>Quantity:</th>
            <th>Total:</th>
        </tr>
    </thead>
</table>

  <app-footer></app-footer>