<app-menu></app-menu>

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Edit User Info</h3>
      <br>
      <fieldset>
        <input placeholder="{{ user.firstName }}" type="text" tabindex="1" required>
      </fieldset>
      <fieldset>
        <input placeholder="{{ user.lastName }}" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="{{ user.phone }}" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="{{ user.email }}" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input placeholder="{{ user.username}}" type="text" tabindex="5" required>
      </fieldset>
      <fieldset>
        <input placeholder="{{ user.password }}" type="text" tabindex="6" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>

  <app-footer></app-footer>