<app-menu></app-menu>

<div>
    <table>
        <tr>
            <td>First Name:</td>
                <td>
                    <input [(ngModel)]="user.firstName" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Last Name:</td>
                <td>
                    <input [(ngModel)]="user.lastName" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Phone Number:</td>
                <td>
                    <input [(ngModel)]="user.phone" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Email:</td>
                <td>
                    <input [(ngModel)]="user.email" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Username:</td>
                <td>
                    <input [(ngModel)]="user.username" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Password:</td>
                <td>
                    <input [(ngModel)]="user.password" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Reviewer:</td>
                <td>
                    <input [(ngModel)]="user.reviewer" type="checkbox" [checked]="user.reviewer"> 

                </td>
        </tr>
        <tr>
            <td>Admin:</td>
                <td>
                    <input [(ngModel)]="user.admin" type="checkbox" [checked]="user.admin"> 

                </td>
        </tr>
    </table>
    <button class="save-btn">
        <img src="../../../assets/buttons/button_save-changes.png"/>
    </button>
</div>