<app-menu></app-menu>

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Create New Request</h3>
      <br>
      <fieldset>
        <input placeholder="Date Needed" type="text" tabindex="1" required>
      </fieldset>
      <fieldset>
        <input placeholder="Description" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Justification" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input list="delivery">
        <datalist id="delivery">
            <option value="Pickup"></option>
            <option value="Robo Courier"></option>
            <option value="Express Drone"></option>
            <option value="Horseback"></option>
        </datalist>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>

  <app-footer></app-footer>