<app-menu></app-menu>

<div>
    <table> 
        <tr>
            <td>Date Submitted:</td>
                <td>
                    <input [(ngModel)]="request.submittedDate" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Date Needed:</td>
                <td>
                    <input [(ngModel)]="request.dateNeeded" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>User:</td>
                <td>
                    <input [(ngModel)]="request.user.username" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Description:</td>
                <td>
                    <input [(ngModel)]="request.description" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Justification:</td>
                <td>
                    <input [(ngModel)]="request.justification" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Delivery Mode:</td>
                <td>
                    <input [(ngModel)]="request.deliveryMode" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Status:</td>
                <td>
                    <input [(ngModel)]="request.status" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td>Rejection Reason:</td>
                <td>
                    <input [(ngModel)]="request.reasonForRejection" type="text" disabled> 
                </td>
        </tr>
        <tr>
            <td> 
                <a routerLink="/request/edit/{{ request.id }}">
                    <img class="icon"  src="../../assets/icons/edit.png"></a>
            </td>
        </tr>
        <tr>
            <td> 
                <img class="icon"  src="../../assets/icons/delete.png">
            </td>
        </tr>
    </table>
    <h2>Request Line Items</h2>
</div>
<app-line-item-list></app-line-item-list>
<app-footer></app-footer>