<app-menu></app-menu>

<div>
    <table class="table table-sm"> 
        <tr>
            <td>Date Submitted:</td>
                <td>
                    <input placeholder="{{ request.submittedDate}}" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Date Needed:</td>
                <td>
                    <input placeholder="{{ request.dateNeeded }}" type="text"> 
                </td>
        </tr>
        <tr>
            <td>User:</td>
                <td>
                    <input placeholder="{{ request.user.username }}" type="text">
                </td>
        </tr>
        <tr>
            <td>Description:</td>
                <td>
                    <input placeholder="{{ request.description }}" type="text">
                </td>
        </tr>
        <tr>
            <td>Justification:</td>
                <td>
                    <input placeholder="{{ request.justification }}" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Delivery Mode:</td>
                <td>
                    <input placeholder="{{ request.deliveryMode }}" type="text">
                </td>
        </tr>
        <tr>
            <td>Status:</td>
                <td>
                    <input placeholder="{{ request.status }}" type="text">
                </td>
        </tr>
        <tr>
            <td>Rejection Reason:</td>
                <td>
                    <input placeholder="Reason for rejection" type="text">
                </td>
        </tr>
        <tr>
            <td> 
                <a routerLink="/request/edit/{{ request.id }}">
                    <img class="icon"  src="../../assets/icons/edit.png"></a>
            </td>
        </tr>
        <tr>
            <td> 
                <img class="icon"  src="../../assets/icons/delete.png">
            </td>
        </tr>
    </table>
    <h2>Request Line Items</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Part Number:</th>
                <th>Product Description:</th>
                <th>Vendor:</th>
                <th>Price:</th>
                <th>Quantity:</th>
                <th>Total:</th>
            </tr>
        </thead>
        <tr>
            <td>{{lineItem.product.partNbr}}</td>
            <td>{{lineItem.product.name}}</td>
            <td>{{lineItem.product.vendor.name}}</td>
            <td>${{lineItem.product.price}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>${{lineItem.quantity * lineItem.product.price}}</td>
        </tr>
    </table>
</div>

<app-footer></app-footer>