.icon {
    width: 20px;
    height: 20px;
}

.styled-table {
    border-collapse:separate;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: #09C;
    color: #ffffff;
    text-align: center;
}

