<app-menu></app-menu>

<div>
    <table>
        <tr>
            <td>Photo Path:</td>
                <td>
                    <input [(ngModel)]="product.photoPath" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Part Number:</td>
                <td>
                    <input [(ngModel)]="product.partNbr" type="text" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Name:</td>
                <td>
                    <input [(ngModel)]="product.name" type="text" type="text">
                </td>
        </tr>
        <tr>
            <td>Vendor:</td>
                <td>
                    <select>
                        <option *ngFor="let vendor of vendors">
                            {{ vendor.name }}
                        </option>
                    </select>
                </td>
        </tr>
        <tr>
            <td>Unit:</td>
                <td>
                    <input [(ngModel)]="product.unit" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Price:</td>
                <td>
                    <input [(ngModel)]="product.price" type="text">
                </td>
        </tr>
    </table>
    <button class="save-btn">
        <img src="../../../assets/buttons/button_save-changes.png"/>
    </button>
</div>

<app-footer></app-footer>