<app-menu></app-menu>

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Create New User</h3>
      <br>
      <fieldset>
        <input placeholder="First Name" type="text" tabindex="1" required>
      </fieldset>
      <fieldset>
        <input placeholder="Last Name" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input placeholder="Username" type="text" tabindex="5" required>
      </fieldset>
      <fieldset>
        <input placeholder="Password" type="text" tabindex="6" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>

  <app-footer></app-footer>