

.icon {
	width: 32px;
	height: 32px;
	border: none;
	background-color: whitesmoke;
}

.save-btn {
	padding: 10px;
	border: none;
	background-color: whitesmoke;
}

.input-table, tr, td {
	font-size: 25px;
}




