<app-menu></app-menu>

<div class="card">
    <div class="card-body">
        <table class="styled-table">  
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Justification</th>
                    <th scope="col">Submitted Date</th>
                    <th scope="col">Date Needed</th>
                    <th scope="col">Delivery Mode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td scope="row">{{ request.description }}</td>
                    <td scope="row">{{ request.justification }}</td>
                    <td scope="row">{{ request.submittedDate }}</td>
                    <td scope="row">{{ request.dateNeeded }}</td>
                    <td scope="row">{{ request.deliveryMode }}</td>
                    <td scope="row">{{ request.status }}</td>
                    <td scope="row">{{ request.total }}</td>
                    <td> 
                        <a routerLink="/request/detail/{{ request.id }}">
                            <img class="icon" src="../../assets/icons/detail.png"></a>
                    </td>
                    <td> 
                        <a routerLink="/request/edit/{{ request.id }}">
                            <img class="icon"  src="../../assets/icons/edit.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="create-btn">
            <a routerLink="/request/create">
                <img src="../../../assets/buttons/button_create-request.png"/>
            </a>
        </button> 
    </div>
</div>


<app-footer></app-footer>
